$first-color:rgb(72, 128, 128);
$first-font: 'Rajdhani', sans-serif;
$second-color:rgb(223, 242, 253);
$max-width:1000px;
@function set-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    }
    @else {
      @return #b9c0d4;
    }
}
@media screen and (max-width: $max-width) {
  .navbar{
  visibility: hidden;
 }
  header{
    position: static !important;
    grid-area: header;
    width: 100% !important;
    .intro{
     width:90% !important;
    }
  }
  .information{
    grid-area: inf;
    margin-left: 0px !important;
    margin-top: 40%;
    #section1{
      margin-bottom: 40% !important;
    }
  }
  body{
    display: grid;
    grid-template-areas: "header""inf";
    
  }
}


body{
    background-color:$first-color;
    color: set-color($first-color);
    cursor: url('../img/custom-cursor.png'), auto;
    font-family: sans-serif;
    padding-top: 50px;
    // display: grid;
    // grid-template-areas: "header main";
    
}
header{
   position: fixed;
    grid-area: header;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    height: 500px;
    padding-left: 70px;
    

    .name{
       margin-bottom: 5px;
        font-family: $first-font;
        font-size: 50px;
       color: lighten(set-color($first-color), 85%);
    }
    .role{
        margin: 0;
        font-family: $first-font;
        font-size: 20px;
        color: lighten(set-color($first-color), 85%);
        
    }
    .intro{
        display: block;
        width: 250px;
        margin-top: 30px;
      }
      
    ul{
        margin: 0;
        padding: 0;
        margin-top: 50px;
        list-style: none;
        list-style-position: inside;
        li{
          margin: 0 0 10px 0;
        }
        .link{
            text-decoration: none;
            color: set-color($first-color);
            text-transform: uppercase;
            letter-spacing: 4px;
            position: relative;
          }
          .link::after {
            content: "";
            width: 0;
            height: 3px;
            background:lighten(set-color($first-color), 85%);;
            position: absolute;
            bottom: -8px;
            left: 0;
            transition: all 500ms;
        }
          
          .link:hover::after {
            width: 100%;
          }
         
          a:hover {
            color: lighten(set-color($first-color), 85%);
            font-size: larger;
            cursor: url('../img/custom-cursor.png'), auto;
          }
    }

  .social-media{
    display: flex;
    flex-direction: row;
    list-style: none;
  }

}

.information{
  margin-left: 700px;
#section1{
  margin-bottom: 20%;
}
  .project:hover{
    background-color: lighten($first-color,5%);
    border: 1px solid darken($first-color, 10%);
    border-radius: 20px;
  }
  .project{
    display: grid;
    margin-bottom: 7px;
    grid-template-areas: "img title title" "img par par" ". tech tech";
    .project-image{
      grid-area: img;
      background-color: antiquewhite;
      align-self: center;
      margin-left: 5px;
      margin-right: 0;
    }
    .name-of-project{
      grid-area: title;
      padding-left: 10px;
      margin: 0;
      a{
        color:lighten(set-color($first-color), 85%);
        text-decoration: none;
        cursor: url('../img/custom-cursor.png'), auto;
        
      }
      
    }
    .about-project{
      margin: 0;
      width: auto;
      padding-left: 10px;
      grid-area: par;
    }
  .technologies{
    grid-area: tech;
    display: flex;
    flex-direction: row;
    list-style: none;
    .tech{
      border:solid set-color($first-color);
      color: $first-color;
      background-color:set-color($first-color) ;
      border-radius: 25px;
      width: fit-content;
      height: auto;
      margin-right: 5px;
      text-align: center;
      padding: 5px;
    }
  }
  
  }
  }

.cursor{
  position:fixed;
  width:40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid set-color($first-color);
  left: 0;
  transform: translate(-50%,-50%);
}
.cursor.large {
  height: 70px;
  width: 70px;
}

